.hero-name {
    color: red;
}

.position {
    padding: 5px;
    font-size: 1rem;
}

.text {
    background-color: #fff;
    color: darkslategray;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.8rem;
    text-align: justify;
    height: 350px;
    width: 250px;
    margin: 10px;
}